**Find user given number is prime or not ?** 
```
test case 1
        number    13
        output    True
        
test case 2
        number    14
        output    False
```

**Find factorial of user given number**
```
test case 1
    number    5
    output    120

test case2
    number    4
    output    24
```

**Find sum of prime numbers between 10 and 40 (both are inclusive)**
```
primes between 10 to 40 are 11, 13, 17, 19, 23, 29, 31, 37
and total of these 180(result)
```

**find sum of numbers in given string**
```
here numbers means continuous number word not individual digits

sentence='every 1 has story released in 2020'
for this sentences numberwords are 1, 2020

result should be 1 + 2020 =2021
```

In [31]:
sentence='every 1 has story released in 2020'

**sort(descending order) the students list based on total marks of students**

```
students = [('sai',100),('ram',70),('lakshmi',90)]

output
    students = [('sai',100),('lakshmi',90),('ram',70)]
```

In [36]:
students = [('sai',100),('ram',70),('lakshmi',90)]


# result ===>  [('sai',100),('lakshmi',90),('ram',70),]