In [ ]:
print("Hello World")

# This is Python Programming in Jupyner Notebook

<h1>Hello World<h1>

## Shiht - Enter - will executes the selected cell
## Esc --> a - inserts one empty cell above the current cell
## Esc --> b - inserts one empty cell below the current cell
## Esc --> m - converts code cell into markdown cell
## Esc --> y - converts markdown cell into code cell
## Esc --> dd - delets the selected cell
## Esc --> p - will displays all the shortcuts avaliable in jupyter

## Introduction python
## list of keywords
## Operators in python
## Type conversion

## Conditional Statements on Python
## Loops in Python
## String

## Conditional Statements on Python

### syntax
```
if condition:
    statement1
    statement2
    statementn
```

```
if (condition)
{
statement1
statement2
.
.
.
.
.
.
statenmentn
}
```

In [4]:
x = 5
if x == 5:
    print("X is having value of 5")

X is having value of 5

In [5]:
x = 10
if x == 5:
    print("X is having value of 5")
    print("X is equal to 5")
else:
    print("X is not equal to 5")

X is not equal to 5

```
if condition:
    statement1
    statement2
elif condition:
    statement1
    statement2
else:
    statement1
    statement2
```

In [6]:
a = 5
b = 10
c = 15
if a > b and a >c:
    print("a is largest number")
elif b > c:
    print('b is largest')
else:
    print("C is the largest")

C is the largest

## input() --> used to take the input from the user

In [7]:
inp = input()

123

In [8]:
print(inp)

123

In [9]:
print(type(inp))

<class 'str'>

In [10]:
inp = int(input())
print(inp, type(inp))

777
777 <class 'int'>

In [11]:
a = input()
b = input()

132
123

In [12]:
a = input('Enter a value')
b = input('Enter b value')

Enter a value123
Enter b value325

In [13]:
print(a,b)

123 325

In [14]:
print(type(a), type(b))

<class 'str'> <class 'str'>

In [15]:
print(type(inp))

<class 'int'>

In [16]:
print("Hello World", 'Hello World2')

Hello World Hello World2

In [17]:
print("Hello World", 'Hello World2', sep = '\n')

Hello World
Hello World2

In [18]:
print("Hello World", 'Hello World2', sep = '\t')

Hello World	Hello World2

In [19]:
print("Hello World", 'Hello World2', sep = '****')

Hello World****Hello World2

In [20]:
a = 5
b = 10
print("a value is",a)
print("b value is ",b)
print("c value is",input("Enter c value"))

a value is 5
b value is  10
Enter c value10
c value is 10

In [27]:
a = int(input())
print("Value is {} using format".format(a))

45665
Value is 45665 using format

In [23]:
print("Value is {} using format {} another is".format(10,20))

Value is 10 using format 20 another is

In [29]:
print("Value is {0} using format {1} another is same firt value {0}".format(10,20))

Value is 10 using format 20 another is same firt value 10

In [33]:
print("Value is {0} using format {1} another is same firt value {0}".format(10.00759,20))

Value is 10.00759 using format 20 another is same firt value 10.00759

### Loops in Python

one thing multiple times

1. instialize
2. condition
3. increment/decrement

## 1. for
## 2. while
### Syntax for `for`  loop
```
for interate_variable in groupOfElements:
    statement1
    stetement2
    statement3
```

In [43]:
for i in range(10):
    print(i, i*2,end = ' ', sep='-')

0-0 1-2 2-4 3-6 4-8 5-10 6-12 7-14 8-16 9-18

In [44]:
for i in range(5, 50):
    print(i,end = " ")

5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49

In [45]:
for i in range(5, 50, 2):
    print(i,end = " ")

5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [ ]:
`m

In [51]:
initial = 0
incren=ment = 1
cond = 1 < 51
for i in range(0, 51):
    if i % 10 == 0:
        print(i)
    else:
        print(i,end = " ")

0
1 2 3 4 5 6 7 8 9 10
11 12 13 14 15 16 17 18 19 20
21 22 23 24 25 26 27 28 29 30
31 32 33 34 35 36 37 38 39 40
41 42 43 44 45 46 47 48 49 50

range(initial_value, var > condition, incre/decrement)

In [50]:
for j in range(100 , 1, -2):
    print(j, end = ' ')

100 98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52 50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2

In [56]:
s1 = 'Hello'
s2 = "World"
s3 = '''Hello
world
again'''

s4 = """worlds
hello
again
and
again"""

In [55]:
s = 'Hello World'
for char in s:
    print(char)

H
e
l
l
o

W
o
r
l
d

In [57]:
li = ['ldsnkv',6546,'sfds','fds','scd']
for element in li:
    print(element)

ldsnkv
6546
sfds
fds
scd

### While loop in python

```
i = 0
while condition:
    statement1
    statement2
    statement3
        .
        .
        .
        .
    statementn
    increment/decrement
```

In [60]:
i = 0
while i < 11:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10

1. break --> if we stop the execution of he loop
2. continue --> if we stop current iteration of the loop

In [63]:
for i in range(1, 11, 1):
    if i % 2 == 0:
        continue
    else:
        print(i, end = ' ')

1 3 5 7 9

In [65]:
for i in range(1, 11, 1):
    if i == 5:
        print("Fault occurred")
        break
    else:
        print(i)

1
2
3
4
Fault occurred

### simple calculator

In [1]:
num1 = int(input('please give number'))
num2 = int(input('please give another number'))
op = int(
    input('give 1 for addition\n give 2 for sub \n give 3 for multiplicatin \n give 4 for div')
)

if op == 1:
    print("addition of {} and {} = {}".format(num1,num2,num1+num2))
elif op==2:
    print("sub of{} and {} = {}".format(num1,num2,num1-num2))
elif op == 3:
    print("multiplication of {} and {} = {}".format(num1, num2, num1*num2))
elif op == 4:
    if num2!= 0:
        print("division of {} and {} = {}".format(num1,num2,num1/num2))
    else:
        print("ZeroDivisionError")
else:
    print("You are selected wrong option")

please give number10
please give another number20
give 1 for addition
 give 2 for sub
 give 3 for multiplicatin
 give 4 for div1
addition of 10 and 20 = 30

### simple another task

implement calculator to perform add/sub/mul/div  everytime

In [2]:
while True:
    print("1000")
    break

1000

### to open notebook file in our system
1. download the .ipynb file into current working directory
2. Open the notebook software and move to the current working directory
3. open the downloaded file and verify name should endwith '.ipynb' if not rename
4. reopen the file.