**Implement logic**
    
1. to find number of lines in file
2. to find number of digits in a file
3. to find which character repeated heighest number of times(heighest frequency of character)
4. to form a largest number with available digits in file
    ```
        example
            file contains 100 characters in that      1  0 5 4 3 2 1 7 are digits
        output
            75432110
    ```

**display the student names who given invalid mobile numbers in contacts.txt**

**contacts.txt**
```
ramu    9848022338
vasu    98480223380
kiran   7848022338
supraja 2848022338
```

output
```
vasu
supraja
```

**Implement logic to generate the students report from students.txt**

**students.txt**
```
name    maths   english
ramu    50      70
vasu    70      60
kiran   80      70
supraja 50      50
```

**report.txt**
```
name    maths   english  Total
ramu    50      70       120
vasu    70      60       130
kiran   80      70       150
supraja 50      50       100
```