**Find how many number of unique characters in given name**
```
test case 1
        input    python
        output   6
test case 2
        input    pythonprogramming
        output   11
```

**find common characters betwen two persons**
```
test case 1
               
        input1    python
        input2    program
        
        output   {'o','p'}


test case 2

        input1   veena
        input2   lakshmi
        
        output {'a'}
```

**find the students who are not participating in engineersday**

```
result = {'rajini','lakshman','vasu'}
```

In [13]:
participants_for_engineers_day = ['ramu','srinu','roja']
students_total = ['ramu','rajini','lakshman','srinu','vasu','roja']

**Find the student name and total marks of that student who got heighest marks in given details**

In [15]:
students = (('ram',50,60),('syam',70,60),('divya',40,30))

# result---> name of student 'syam' , his total marks 70+60 = 130
# output name: 'syam', marks: 130

**print the student names based on total marks (descending order)**

output
```
syam
ram
divya
```

In [16]:
students = (('ram',50,60),('syam',70,60),('divya',40,30))